target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
nbactions.xml
nb-configuration.xml
.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
bambu/node_modules/
bambu/frontend/generated/
.env

/docker/vsftpd/home/
/docker/*.crt
/docker/*.key
/docker/*.srl
/docker/*.csr
/bambu/.flow-node-tasks.lock
/bambu/styles.css
