target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
nbactions.xml
nb-configuration.xml
.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
bambu/node_modules/
bambu/frontend/generated/
bambu/.flow-node-tasks.lock
bambu/styles.css
.env

/docker/bambu-local-dev/vsftpd/home/
/docker/bambu-local-dev/*.crt
/docker/bambu-local-dev/*.key
/docker/bambu-local-dev/*.srl
/docker/bambu-local-dev/*.csr

